{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Brand{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'store/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="container">
            <a href="{% url 'home' %}" class="logo"> OneGo</a>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'products' %}">Products</a></li>
                <li><a href="{% url 'view_cart' %}">Cart 🛒</a></li>

                {% if user.is_authenticated %}
                    <li><a href="#">Hi, {{ user.username }}</a></li>
                    <li>
                        <form action="{% url 'logout' %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" style="background:none; border:none; color:white; cursor:pointer; font: inherit;">
                                Logout
                            </button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}

                {% if request.user.is_authenticated and request.user.is_staff %}
                     <a href="{% url 'add_product' %}">Add Product</a>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Flash Messages -->
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <!-- Main Content -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p>&copy; 2025 OneGo. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
